<ion-header>
  <ion-toolbar color="primary">
    <ion-title>New Item</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="newHikingForm" (submit)="createItem(newHikingForm.value)">
    <ion-item>
      <ion-label color="primary" position="floating">Title</ion-label>
      <ion-input type="text" formControlName="title" required></ion-input>
    </ion-item>
    <ion-grid>
      <ion-item>
        <ion-label color="primary" position="floating">Adresse Départ</ion-label>
        <ion-input type="text" formControlName="addressStart" required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label color="primary" position="floating">Lat Départ</ion-label>
            <ion-input type="number" formControlName="addressLat0" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label color="primary" position="floating">Lng Départ</ion-label>
            <ion-input type="number" formControlName="addressLng0" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item>
        <ion-label color="primary" position="floating">Adresse Arrivé</ion-label>
        <ion-input type="text" formControlName="addressEnd" required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label color="primary" position="floating">Lat Arrivé</ion-label>
            <ion-input type="number" formControlName="addressLat1" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label color="primary" position="floating">Lng Arrivé</ion-label>
            <ion-input type="number" formControlName="addressLng1" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-item>
      <ion-label color="primary" position="floating">Temps</ion-label>
      <ion-input type="time" formControlName="time" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Description</ion-label>
      <ion-input type="text" formControlName="description" required></ion-input>
    </ion-item>
    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!newHikingForm.valid">Create</ion-button>
  </form>

</ion-content>
