<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Update Item</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<app-map-hiking></app-map-hiking>
<ion-button class="submit-btn" expand="block" type="submit" (click)="initTimer()" >Start</ion-button>
<ion-content *ngIf="item">
    <div class="container-fluid">
        <div class="field">
            <i class="fas fa-map-marker-alt"></i>
            <div class="text">{{ item.address[0][0] }}</div>
        </div>
        <div class="field">
            <i class="fas fa-map-marker-alt"></i>
            <div class="text">{{ item.address[1][0] }}</div>
        </div>
        <div class="field">
            <i class="far fa-clock"></i>
            <div class="text">{{ item.time }}</div>
        </div>
    </div>
</ion-content>
<app-timer></app-timer>
