.submit-btn {
  margin-top: 30px;
}

  .hike-general-infos{
    .hike-info{
      margin-left: 10px;
    }
    i {
      color: #3880ff;
      width: 20px;
      display: inline-flex;
      &:before{
        margin: auto;
      }
    }

  }
